.v-line {
  width: 2px;
  background-color: #ffffff;
}

.v-line.partial {
  margin-top: 30px;
  margin-bottom: 30px;
}

#banner-container {
  width: 100%;
  text-align: start;
}

#banner {
  display: flex;
  width: 100%;
  align-items: space-evenly;
}

#banner .banner-half {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#banner > .v-line {
  margin-left: 20px;
  margin-right: 20px;
}

#banner #names .v-line {
  margin-left: 15px;
  margin-right: 15px;
}
#banner #names {
  display: flex;
  justify-content: space-evenly;
}

#banner #names #institute-name {
  width: 49%;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#banner #names #institute-name :first-child {
  font-size: 32px;
}

#banner #names #ccg-name {
  width: 49%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

#banner .symposium-name {
  font-size: 48px;
  font-weight: 600;
}

#banner .symposium-full-name {
  font-size: 35px;
  font-weight: 600;
}

#banner #right-banner > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#right-banner .deadline-day {
  font-size: 2.3em;
  font-weight: 600;
}

#right-banner .location-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 25px;
}

#right-banner .location-container :first-child{
  font-weight: 600;
}

#right-banner .location-container :nth-child(2){
  font-style: italic;
}
