#scroll-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: rgba(73, 72, 72, 0.514);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#scroll-button:hover {
  background-color: #555;
}
