<div id="banner">
  <div id="right-banner" class="banner-half">
    <img src="img/dfci_icon.png" alt="" width="100px" >
    <div id="names">
      <div id="institute-name">
        <p>Dana-Farber</p> 
        <p>Cancer Institute</p>
      </div>
      <div class="v-line"></div>
      <div id="ccg-name">
        <p>Center for Cancer Genomics</p>
      </div>
    </div>
    <p class="symposium-name">Symposium 2026</p>
  </div>
  <div class="v-line"></div>

  <div id="left-banner" class="banner-half">
    <p class="symposium-name">Cancer Genomics and Personalized Medicine</p>
    <div class="deadline-day">sdf</div>
    <p>Jimmy Fund Auditorium</p>
    <p>35 Binney Street, Boston, MA 02115</p>
  </div>
</div>
