<link
  href="css/banner.css"
  media="screen,projection"
  rel="stylesheet"
  type="text/css"
/>
<div id="banner">
  <div id="left-banner" class="banner-half">
    <img src="img/dfci_icon.png" alt="" width="100px" />
    <div id="names">
      <div id="institute-name">
        <p>Dana-Farber</p>
        <p>Cancer Institute</p>
      </div>
      <div class="v-line"></div>
      <div id="ccg-name">
        <p>
          Center for<br />
          Cancer Genomics
        </p>
      </div>
    </div>
    <p class="symposium-name">Symposium <span class="deadline-year"></span></p>
  </div>
  <div class="v-line partial"></div>

  <div id="right-banner" class="banner-half">
    <div>
      <p id="symposium-full-name">Cancer Genomics <br />and Personalized Medicine</p>
      <p class="deadline-day"></p>
      <div class="location-container">
        <p class="location"></p>
        <p class="location-address"></p>
      </div>
    </div>
  </div>
</div>
