<div id="banner">
  <div id="left-banner" class="banner-half">
    <img src="img/dfci_icon.png" alt="" width="100px" />
    <div id="names">
      <div id="institute-name">
        <p>Dana-Farber</p>
        <p>Cancer Institute</p>
      </div>
      <div class="v-line"></div>
      <div id="ccg-name">
        <p>
          Center for<br />
          Cancer Genomics
        </p>
      </div>
    </div>
    <p class="symposium-name">Symposium 2026</p>
  </div>
  <div class="v-line partial"></div>

  <div id="right-banner" class="banner-half">
    <div>
      <div class="symposium-full-name">
        <p>Cancer Genomics and Personalized Medicine</p>
      </div>
      <p class="deadline-day"></p>
      <div class="location">
        <p>Jimmy Fund Auditorium</p>
        <p>35 Binney Street, Boston, MA 02115</p>
      </div>
    </div>
  </div>
</div>
