<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          Contact
          <a
            class="blue-text text-lighten-3"
            href="mailto:aaron_thorner@dfci.harvard.edu"
            >aaron_thorner@dfci.harvard.edu</a
          >
        </h5>
        <p class="grey-text text-lighten-4">
          Made with
          <a class="blue-text text-lighten-3" href="http://materializecss.com"
            >Materialize CSS</a
          ><br />
        </p>
        <p class="grey-text text-lighten-4">
          Used under
          <a
            class="blue-text text-lighten-3"
            href="https://github.com/Dogfalo/materialize/blob/master/LICENSE"
            >MIT License</a
          >
        </p>
      </div>
      <div class="col l3 s12"></div>
    </div>
  </div>
  <div class="footer-copyright"></div>
</footer>
