<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a
      class="brand-logo"
      href="https://www.dana-farber.org/research/departments-centers-and-labs/integrative-research-centers/center-for-cancer-genome-discovery/"
      id="logo-container"
      ><img
        src="https://www.dana-farber.org/ui/images/img-logo-2x-new.png"
        style="padding-top: 8px"
        width="180"
    /></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a class="about">About CCG</a>
      </li>
      <li>
        <a class="registration">Register</a>
      </li>
      <li>
        <a class="agenda">Agenda</a>
      </li>
      <li>
        <a href="guests.html">Guest Speakers</a>
      </li>
      <li>
        <a href="sponsors.html">Sponsors</a>
      </li>
    </ul>

    <ul class="sidenav" id="nav-mobile">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a class="about">About CCG</a>
      </li>
      <li>
        <a class="registration">Register</a>
      </li>
      <li>
        <a class="agenda">Agenda</a>
      </li>
      <li>
        <a href="guests.html">Guest Speakers</a>
      </li>
      <li>
        <a href="sponsors.html">Sponsors</a>
      </li>
    </ul>
    <a class="sidenav-trigger" data-target="nav-mobile" href="#">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
